body {
  font-family: sans-serif;
  margin: auto;
  background: #eee8e8;
  color: #1f0606;
  max-width: 900px;
}

header {
  display: flex;
  justify-content: space-between;
  background: #de5b10;
  padding: 10px 20px;
  color: #eee8e8;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #00d8ff;
}

nav a {
  color: #eee;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 40px 20px;
  text-align: center;
  background: #29aa29;
  color: #ffffff;
}
.desc { background-color: #ddd424; 
    padding: 5px;
    font-size: 14px;
    color: #111010;}

.film-list {
    background: #ccc;
  padding: 20px;
}

.grid {
    
  display: list;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.film-card {
  background: #ffffff;
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.film-card:hover {
}

.film-card img {
    display:inline-table;
  width: 100px;
  height: 120px;
  box-sizing: cover;
}

.film-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.film-card p {
  font-size: 14px;
  color: #ddd424;
}

footer {
  background: #1e1e1e;
  text-align: center;
  padding: 15px;
  color: #aaa;
  font-size: 14px;
}
.btn_download {
    padding: 10px;
    background: #57dc88;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
#detail {
    text-align: center;

}