body {
  font-family: sans-serif;
  margin: 0;
  background: #111;
  color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  background: #222;
  padding: 10px 20px;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #00d8ff;
}

nav a {
  color: #eee;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 40px 20px;
  text-align: center;
  background: #1e1e1e;
}

.film-list {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.film-card {
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.film-card:hover {
  transform: scale(1.05);
}

.film-card img {
  width: 100%;
  height: auto;
}

.film-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.film-card p {
  font-size: 14px;
  color: #ccc;
}

footer {
  background: #1e1e1e;
  text-align: center;
  padding: 15px;
  color: #aaa;
  font-size: 14px;
}
.btn_download {
    padding: 10px;
    background: #57dc88;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
#detail {
    text-align: center;
}